* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}
#img-container {
    text-align: center;
}

.list {
    text-align: center;
    list-style-position: inside;
}
.list li {
    padding-left: 35em;
    text-align: left;
}